playsound==1.2.2
pydub>=0.25.1
discord.py
speechrecognition
gTTS
deep-translator
python-dotenv
requests
playsound==1.2.2
pygame
discord.py
gTTS
deep-translator
python-dotenv
requests
vosk
pydub
sounddevice==0.4.4
